html {
	padding: 0px;
}

a {
	text-decoration: none;
	color: rgb(64,64,64);
	font-family: Arial, sans-serif;
	font-size: 0.80em;
}

a:hover {
	text-decoration: underline;
}

#nav {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	margin-left: 0px;
}

#nav-right {
	margin: 0px;
	position: absolute;
	top: 16px;
	right: 1px;
	width: 257px;
	height: 50px;
}

#nav-right li {
	margin-right: 14px;
	display: inline-block;
}

#grid {
	position: relative;
	left: 4px;
	bottom: 16px;
	margin-top: 0px;
	height: 17px;
	width: 17px;
	background: url("grid-light.png") no-repeat center;
	background-size: contain;
}

#bell {
	position: relative;
	left: 6px;
	bottom:14px;
	margin-top: 0px;
	margin-left: 5px;
	height: 22px;
	width: 22px;
	background: url("bell-light.png") no-repeat center;
	background-size: contain;
}

#grid:hover {
	position: relative;
	left: 4px;
	bottom: 16px;
	margin-top: 0px;
	height: 17px;
	width: 17px;
	background: url("grid-dark.png") no-repeat center;
	background-size: contain;
}

#bell:hover {
	position: relative;
	left: 6px;
	bottom:14px;
	margin-top: 0px;
	margin-left: 5px;
	height: 22px;
	width: 22px;
	background: url("bell-dark.png") no-repeat center;
	background-size: contain;
}

#circleM {
	position: relative;
	bottom:5px;
	right: -1px;
	margin-top: 0px;
	margin-left: 1px;
	height: 40px;
	width: 40px;
	background: url("circleM.png") no-repeat center;
	background-size: contain;
}

.nav-link {
	position: relative;
	bottom: 21px;
}

#logo {
	margin-top: 200px;
}

#logo img {
	display:block;
	width: 275px;
	margin: auto;
}

#searchbox {
	display: block;
	position: relative;
	left: 8px;
	margin: 30px auto;
	width: 583px;
	height: 2.4em;
	border: 1px solid rgb(77, 144, 254);
}

#searchbox input {
	display: inline-block;
	margin-left: 8px;
	height: 2.28em;
	width: 90%;
	border: none;
	font-size: 1em;
}

#mic {
	float: right;
	height: 2em;
	width: 2em;
	margin: 2px 2px 0px 0px;
	background: url("microphone.png") no-repeat center;
	background-size: contain;
}

#submit_section input {
	border: 1px solid #FFFFFF;
	margin: 3px;
	background-color: rgb(245,245,245);
	color: rgb(117,117,117);
	padding: 10px 15px;
	font-weight: bold;
	font-size: 0.80em;
}

#submit_section input:hover {
	border: 1px solid rgb(175, 175, 175);
	box-shadow: 0px 1px 1px rgb(230, 230, 230);
	color: #050505;
}

#submit_section input:active {
	border: 1px solid rgb(77, 144, 254);
	color: #050505;
}

#submit_section:focus {
	border: 1px solid rgb(77, 144, 254);
}

input:focus {
	outline:none;
}

#submit_section {
	text-align: center;
	margin-top: 10px;
}

#footer {
	margin: 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(245,245,245);
	border-top: 1px solid rgb(230,230,230)
}

.footer-content li {
	display: inline;
	margin: 0px 13px;
}

.footer-content li a {
	font-family: Arial, sans-serif;
	color: #666;
	font-size: 9.75pt;
}

#footer-left {
	float: left;
	padding: 0px;
	margin-top: 10px;
	margin-left: 17px;
}

#footer-right {
	float: right;
	padding: 0px;
	margin-top: 10px;
	margin-right: 17px;
}